@import "../../styles/vars";

.program-page {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 320px minmax(0px, 1fr);
  column-gap: 40px;
  background-color: #fff;
  padding-top: 30px;
  &__main {
    h3 {
          font-size: 30px;
          font-weight: 700;
          margin: 0;
    }
  }
}
.side {
  &__image {
    position: relative;
  }
  &__img {
    object-fit: contain;
    width: 320px;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  &__duration, &__minutes{
    position: absolute;
    left: 8px;
    bottom: 16px;
    text-transform: lowercase;
    background: #fff;
   border-radius: 15px;
   font-size: 13px;
    padding: 3px;
    color: $color-primary;
  }
  &__minutes {
    left: 70px;
  }
  &__type {
    font-size: 14px;
    margin-bottom: 6px;
  }
  &__equip, &__desc {
    font-size: 14px;
    margin-bottom: 6px;
  }
  &__title {
    color: $secondary;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.06em;
    position: relative;
    margin-top: 30px;
        padding-top: 10px;

    &::before {
      content: "";
      height: 1px;
      width: 100%;
      background: $secondary;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
 &__start {
   padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #ece9fc;
    margin: 20px 0;

 }

}
.start {
  &__title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__btn {
    margin: 15px auto 0;
      color: $color-primary;
      background-color: transparent;
      border: 1px solid $color-primary;
      transition: 0.5s all ease;
      opacity: 0.5;
      &:hover {
      opacity: 1;
      pointer-events: all;
    }
   }
    &__active{
      background-color: $color-primary;
      color: rgb(255, 255, 255);
      opacity: 1;
    }
     &__error{
      background-color: $error;
      color: rgb(255, 255, 255);
      opacity: 1;
    }
}
.schedule {
  background-color: white;
    border: 1px solid rgba(239, 240, 244, 0.8);
    border-radius: 15px;
    padding: 40px 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
  }
  &__week {
    height: 30px;
    width: fit-content;
    padding: 5px 12px;
    border: 1px solid $color-primary;
    border-radius: 54px;
    background-color: transparent;
    margin-left: 5px;
    cursor: pointer;
    &.active {
       background-color: rgb(124, 115, 197);
        border-color: $purple;
        color: #fff;
    }
  }
}

@include for-max-1443px() {
  .program-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    &__side {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
      "image title start"
      "type desc start"
      "equip desc start";
      column-gap: 10px;
      .side__image {
      grid-area: image;
      }
      
      .side__type {
      grid-area: type;
      }
      
      .side__equip {
      grid-area: equip;
      }
      
      .side__title {
      grid-area: title;
      }
      
      .side__desc {
      grid-area: desc;
      }
      
      .side__start {
      grid-area: start;
      }
    }
    &__main {
      .schedule {
        padding: 0;
        border: none;
      }
    }
  }
}