.textarea-review {
  height: 120px;
  width: 260px;
  border: 1px solid #e3e4eb;
  border-radius: 15px;
  padding: 15px 20px;
  resize: none;
  overflow: auto;
}

.textarea-review:focus {
  border: none;
}

.textarea-container {
  position: relative;

}

.textarea-limit {
  position: absolute;
  right: 0;
  transform: translateY(-250%) translateX(-30%);
}