@import "src/styles/vars";


.recipe-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  &__img {
    min-height: 295px;
    max-width: 295px;
    width: 100%;
    border-radius: 6px;
    object-fit: contain;
    margin-bottom: 8px;
  }
  &__label {
    font-weight: 400;
    font-size: 18px;
    color: $color-primary;
    word-break: break-word;
  }
  &__cal {
    position: absolute;
    top: 4px;
    left: 4px;
    background: #fff;
    border-radius: 15px;
    padding: 5px;
    color: $color-primary;
  }
}

@include for-max-1000px() {
  .section__recipes { 
    display: flex;
    flex-direction: column;
    .categories {
      .categories__card {
        width: 97%;
        height: 174px;
      }
    }
  }
}


@include for-max-568px() {
  .section__recipes { 
    .categories {
      .categories__card {
        width: 97%;
        height: 174px;
        margin-left: 0px;
      }
    }
  }
}

@include for-max-400px() {
  .section__recipes { 
    .categories {
      .categories__card {
        gap: 0.5rem;
        .categories-title {
          font-size: 0.9rem;
        }
        .categories-description {
          font-size: 0.9rem;
        }
      }
    }
  }
}