@import '../../styles/vars.scss';
@import "../../styles/light-dark-theme";
.header {
  box-sizing: border-box;
  padding: 15px 20px;
    background-color: var(--bgThemeColor2);
    color: var(--textThemeColor1);
    transition: background-color 0.5s ease;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__signUp{
    display: flex;
    gap: 10px;
  }
}
.nav {
  margin: 0 20px;
  display: flex;
  gap: 40px;
   color: var(--textThemeColor1);
  &-active {
    color: $purple;
  }
  &-item {
    &:hover {
      color: darken($purple, 20%);
    }
  }
}

a {
   color: var(--textThemeColor2);
  text-decoration: none;
  text-transform: capitalize;
}

.header__signUp .button {
  width: auto;
}