@import '../../styles/vars.scss';
.header {
  box-sizing: border-box;
  background: $gray;
 padding: 15px 20px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__signUp{
    display: flex;
    gap: 10px;
  }
}
.nav {
  margin: 0 20px;
  display: flex;
  gap: 40px
}

a {
  text-decoration: none;
  color: $color-primary;
  text-transform: capitalize;
}