.small-programs_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.small-programs__card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.side__img {
  margin-bottom: 0px;
}