@import "src/styles/vars";


.latest__card {
    display: grid;
    grid-template-columns: 324px auto;
    margin-bottom: 0px;
    background:white;
    border: 1px solid rgb(233, 233, 239);
    border-radius: 15px;
    padding: 38px 30px;
    display: grid;
    column-gap: 30px;
    margin-bottom: 30px;
    &-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.04em;
        text-transform: uppercase;  
        margin-bottom: 15px;

        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-word;
        user-select: none;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    &-description{
        margin-bottom: 30px;
    }
}