@import '../../styles/vars';

.program-card {
  box-sizing: border-box;
  display: flex;
  &__title {
    font-size: 18px;
    font-weight: 500;
  }
  &__inner{
    margin-bottom: 16px;
    position: relative;
    transition: all 0.3s;
    color: $gray;
     overflow: hidden;
    &:hover {
      .card__content {
        bottom: 15px;
      }
      .card__image {
         filter: brightness(0.6);
      }
    }
  }
}
.card {
  &__image {
    height: 470px;
    width: 360px;
    border-radius: 15px;
    transition: all 0.3s;
  }
  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -44px;
    left: 15px;
    gap: 10px;
   
    transition: all 0.3s;
  }
  &__duration, &__minutes{
    background: #fff;
   border-radius: 15px;
    padding: 5px;
    color: $color-primary;
  }
  &__duration {
    width: 57px;
  }
   &__minutes {
    width: 106px;
  }
}