@import '../../styles/vars.scss';
@import '../../styles/light-dark-theme';

.programs{
    &-container {
       display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }
}
.filter {
    display: flex;
    justify-content: space-between;
    color: $orange-text;
    select {
        border: 1px solid $orange-text;
        border-radius: 4px;
        padding: 0px 10px;
        height: 36px;
        color: $orange-text;
        outline: none;
    }
}
.filters {
    margin-bottom: 30px;
    span {
    width: fit-content;
    text-align: center;
    padding: 6px 10px;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid var(--textThemeColor1);;
    border-radius: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    margin-right: 20px;
    cursor: pointer;
        &.active {
            background-color: var(--activeFilter);
            border-color: var(--activeFilter);
            color: $white;
        }
    }
    
}

@include for-max-1360px() {
    .filter {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        flex-direction: column;
        gap: 1rem;
        .filters {
            margin-bottom: 0;
        }
    }
}

@include for-max-740px() {
    .filters {
        display: grid;
        grid-template-areas:
            "A A B B C C"
            "D D D E E E";
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(6, 1fr);
        column-gap: 5px;
        row-gap: 10px;
        
        > span:nth-child(1) {
            grid-area: A;
        }
        
        > span:nth-child(2) {
            grid-area: B;
        }
        
        > span:nth-child(3) {
            grid-area: C;
        }
        
        > span:nth-child(4) {
            grid-area: D;
        }

        > span:nth-child(5) {
            grid-area: E;
        }
        > span {
            justify-self: center;
            width: 70%;
        }
        .filters {
            margin-bottom: 0;
        }
    }
}

@include for-max-640px() {
    .programs {
        &-container {
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }
}