$blue700: #1a1a40;
$blue600: #2c2c66;
$black: #000;
$grey100: #fff;
$orange: #E78F63;
$purple100: #7a0bc0;
$purple200: #650c9d;
$orange-text: #e78f63;

$color-primary: #303033;
$gray: #eee;
$primary-disabled: #e3e4eb ;
$purple: #7c73c5;
$secondary: #868a93;
$color-background-primary: #eee;
$error: rgb(162, 5, 5) ;
$white: #fff;

$filter-light: invert(84%) sepia(100%) saturate(1%) hue-rotate(56deg) brightness(105%) contrast(101%);
$filter-dark: brightness(0) saturate(100%) invert(58%) sepia(12%) saturate(6353%) hue-rotate(331deg) brightness(105%) contrast(101%);

$active-filter-dark: #e78f63;
$active-filter-light: #e78f63;

$themes: (
  bgThemeColor1: (
    darkTheme: $blue700,
    lightTheme: $grey100,
  ),
  bgThemeColor2: (
    darkTheme: $blue600,
    lightTheme: $orange,
  ),
  textThemeColor1: (
    darkTheme: $grey100,
    lightTheme: $orange-text,
  ),
   textThemeColor2: (
    darkTheme: $gray,
    lightTheme: $white,
  ),
   logoFilter: (
    darkTheme: $filter-dark,
    lightTheme: $filter-light,
  ),
    activeFilter: (
      darkTheme: $active-filter-dark,
      lightTheme: $active-filter-light,
    )
);

@mixin styles($mode) {
  @each $key, $map in $themes {
    @each $prop, $color in $map {
      @if $prop == $mode {
        --#{$key}: #{$color};
      }
    }
  }
}

:root[data-theme="dark"] {
  @include styles("darkTheme");
}

:root[data-theme="light"] {
  @include styles("lightTheme");
}