@import './vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
    height: 100%;
    font-family: 'Manrope', sans-serif;
}

.error  {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 175px);
    &-404 {
        font-weight: 700;
        margin-bottom: 30px;
    }
    &-btns {
        display: flex;
        gap: 15px;
        margin-top: 50px;
    }
}

#detail {
    min-height: calc(100vh - 160px);
}
.section__videos{
    display: flex;
    justify-content: space-between;
}


:root[data-theme="light"] {
  --background-color: #fafafa;
}

:root[data-theme="dark"] {
  --background-color: #2b3e51;
}

body {
  background: var(--background-color);
}