.logo1 {
  width: 400px;
  height: 100px;
  background: url(./result.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0) saturate(100%) invert(58%) sepia(12%) saturate(6353%) hue-rotate(331deg) brightness(105%) contrast(101%);
}