@import '../../styles/vars.scss';

.footer {
    box-sizing: border-box;
    background: $gray;
    padding: 15px 20px;
    &__container{
        display: flex;
        justify-content: space-around;
        .nav {
            width: 60%;
        }
    }
    .social{
        display: flex;
        gap: 15px;
    }
}