@import "src/styles/vars";

.recipe-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border: 1px solid $primary-disabled;
  margin-bottom: 40px;
  &__side {
    display: flex;
    flex-direction: column;
    padding: 50px 10px 40px 20px;
    border-right: 1px solid $primary-disabled;
  }
  &__main {
    display: flex;
    flex-direction: column;
    padding: 50px 48px 40px 20px;
  }
  &__button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}
.recipe {
  &__title {
    font-size: 32px;
    line-height: 140%;
    margin: 20px 0px;
  }
  &__tags{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  &__tag {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    background-color: $color-primary;
    padding: 5px 12px;
    border: 1px solid $color-primary;
    box-sizing: border-box;
    border-radius: 54px;
    color: #fff;
    white-space: nowrap;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
  }
  &__img {
    width: 80%;
  }
  &__time {
    margin-top: 50px;
    font-weight: 500;
    font-size: 18px;
    &::before {
      content: "🕛";
    }
  }
  &__nutrition{

    &_kkal, &_fat, &_prot, &_carbs {
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 10px;
      background-color: $color-primary;
      padding: 5px 12px;
      border: 1px solid $color-primary;
      box-sizing: border-box;
      border-radius: 54px;
      color: #fff;
      white-space: nowrap;
      font-weight: 700;
      line-height: 16px;
      text-transform: uppercase;
    }
  }
  &__ingredient {
    margin-bottom: 10px;
    &::marker {
      content: "🔥";
    }
    &_title{
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 26px;
      line-height: 130%;
      margin-top: 90px;
    }
  }
  &__notes {
    padding: 30px 30px 40px;
    background: rgb(238, 244, 255);
    border-radius: 6px;
    height: fit-content;
    max-width: 460px;
    margin-top: 70px;
    &_title {
      color: $secondary;
      font-weight: bold;
      font-size: 12px;
      line-height: 140%;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
    &_text {
      font-size: 18px;
      line-height: 140%;
      margin-top: 20px;
       &::marker {
        content: "⭐";
      }
    }
    &_list{
      padding-left: 30px;
    }
  }
}

@include for-max-920px() {
  .recipe-page {
    flex-direction: column;
    &__main {
      padding: 3px 48px 40px 20px;
    }
    &__side {
      padding: 26px 10px 28px 20px;
    }
  }
  .recipe__img {
    place-self: center;
    width: 55%;
    padding: 25px 0px 10px 0px;
  }
  .recipe__title {
    margin: 9px 0px;
    text-align: center;
  }
  .recipe__notes {
    width: 95%;
    margin-top: 20px;
    max-width: none;
  }
  .recipe__ingredient_title {
    margin-top: 30px;
  }
}

@include for-max-480px() {
  .recipe__img {
    width: 80%;
  }
  .recipe-page {
    &__main {
      .recipe__nutrition {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .recipe__tags {
    align-items: center;
    justify-items: center;
    place-self: center;
  }
  .recipe__notes {
    padding: 20px;
  }
  .recipe__notes_text {
    font-size: 15px;
  }
}