@import "../../styles/vars";
@import "../../styles/light-dark-theme";

 .categories__card {
    display: grid;
    grid-template-columns: 324px auto;
    margin-bottom: 0px;
    background:var(--bgThemeColor1);
    border: 1px solid rgb(233, 233, 239);
    border-radius: 15px;
    padding: 38px 30px;
    display: grid;
    column-gap: 30px;
    margin-bottom: 30px;
    &:hover {
      transform: scale(1.02);
    transition: 0.3s;
    }
  }

.categories {
    
 &__card {
    background:var(--bgThemeColor1);
    border: 1px solid rgb(233, 233, 239);
    border-radius: 15px;
    display: flex;
    columns: 15px auto;
    width: 295px;
    height: 90px;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    }
    &__img{
        border-radius: 14px;
    }
    &-title{
      font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 5px;  
        margin-top: 10px;
    }
    &-description{
        text-transform: lowercase;
    }
}

@include for-max-1000px() {
  .categories {
    &__card {
      width: 90%;
    }
  }
}

@include for-max-970px() {
  .categories {
    &__card {
      width: 100%;
      margin-left: 0;
      height: 210px;
      margin-bottom: 15px;
      gap: 25%;
      .categories-desc {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        .categories-title {
          font-size: 2rem;
        }
        .categories-description {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@include for-max-640px() {
  .categories {
    &__card {
      width: 100%;
      margin-left: 0;
      height: 210px;
      margin-bottom: 15px;
      gap: 15%;
      .categories-desc {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        .categories-title {
          font-size: 2rem;
        }
        .categories-description {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@include for-max-568px() {
  .categories {
    &__card {
      width: 100%;
      margin-left: 0;
      height: 210px;
      margin-bottom: 15px;
      gap: 15%;
      .categories-desc {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        .categories-title {
          font-size: 1.5rem;
        }
        .categories-description {
          font-size: 1rem;
        }
      }
    }
  }
}

@include for-max-480px() {
  .categories {
    &__card {
      .categories-desc {
        .categories-title {
          font-size: 1.2rem;
        }
        .categories-description {
          font-size: 1rem;
        }
      }
    }
  }
}

@include for-max-480px() {
  .categories {
    &__card {
      gap: 5%;
      .categories-desc {
        .categories-title {
          font-size: 1.2rem;
        }
        .categories-description {
          font-size: 1rem;
        }
      }
    }
  }
}

@include for-max-480px() {
  .categories {
    &__card {
      height: 150px;
      gap: 15%;
      .categories-desc {
        .categories-title {
          font-size: 1.2rem;
        }
        .categories-description {
          font-size: 1rem;
        }
      }
    }
  }
}